<div class="titles">
  <h3>{{currentConfig.title}}</h3>
  <h4>{{currentConfig.subtitle}}</h4>
</div>

<div class="selectors">
  <app-selector
  [values]="[
    {'value':'year_built', 'title': config['year_built'].title},
    {'value':'assesed_value', 'title':config['assesed_value'].title}
  ]"
  [title]="'Thematic layer'"
  (onSelected)="thematicChanged($event)"
  ></app-selector>

  <app-selector
  [class.hide]="currentConfig.property === 'yearbuilt'"
  [values]="[
    {'value':2017, 'title':2017},
    {'value':2016, 'title':2016},
    {'value':2015, 'title':2015},
    {'value':2014, 'title':2014},
    {'value':2013, 'title':2013},
    {'value':2012, 'title':2012},
    {'value':2011, 'title':2011},
    {'value':2010, 'title':2010},
    {'value':2009, 'title':2009}
  ]"
  [selected]="currentYear"
  [title]="'Year'"
  (onSelected)="yearChange($event)"
  ></app-selector>
</div>

<div class="map" #mapContainer></div>

<app-base-map-selector (onChange)="baseMapChanged($event)" ></app-base-map-selector>

<div class="legend">
  <h3>{{currentConfig.title}}</h3>
  <span>Clic layer to filter</span>
  <ul>
    <li *ngFor="let c of currentConfig.legend; let i = index" (click)="filterByLegend(c)" [class.inactive]="!currentConfig.legend[i].active">
      <div [ngStyle]="{'background-color': currentConfig[currentBaseMap].stops[i][1]}"></div>
      {{c.title}}
    </li>
  </ul>
</div>
