:host{
  flex: 0 0 100%;
  display: flex;
  position: relative;
  .map {
    width: 100%;
  }
  .titles{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    h3, h4 {
      background-color: #383D4C;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
      border-radius: 4px;
      color: #FFFFFF;
      display: inline-table;
    }
    h3{
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
      padding: 5px 12px;
    }
    h4{
      font-size: 12px;
      font-weight: normal;
      margin-top: 3px;
      padding: 6px 12px;
    }
  }
  .selectors{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    display: flex;
    app-selector{
      max-width: 500px;
      transition: max-width .25s linear, margin .25s linear, opacity .25s linear;
      &.hide{
        max-width: 0;
        margin: 0;
        opacity: 0;
        pointer-events: none;
      }
      &+app-selector{
        margin-left: 12px;
      }
    }
  }
  app-base-map-selector {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 1;
  }
  .legend{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 152px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    font-size: 12px;
    color: #383D4C;
    padding: 16px 0;
    h3{
      font-weight: bold;
      line-height: 12px;
      font-size: 12px;
      margin-left: 16px;
      margin-bottom: 14px;
    }
    ul{
      margin: 0 16px;
      li{
        display: flex;
        align-items: center;
        &+li{
          margin-top: 10px;
        }
        >div{
          height: 12px;
          width: 12px;
          margin-right: 6px;
        }
      }
    }
  }
}
